@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');

@import 'variables.scss';
@import 'functions.scss';
@import 'main/';

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	@include display-flex($direction: column);
	height: 100vh;

	font-family: $font;
	background-color: $light-pink;

	picture {
		position: fixed;
		top: 0;
		z-index: -1;

		img,
		source {
			min-width: 100vw;
		}
	}

	@media (max-height: 415px) {
		height: auto;

		picture {
			position: absolute;
			top: -10rem;
		}
	}

	@media (min-height: $mobile) {
		picture {
			top: -5rem;
		}
	}
}
