.hidden {
	display: none;
}

.show {
	display: block;
}

main {
	@include display-flex(flex-start, flex-start, column);

	margin: 1rem;

	max-width: 25rem;
	background-color: $white;
	padding: 1.2rem;
	border-radius: 0.7rem;
	color: $dark-purple;
	gap: 1rem;
	box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.2);

	h1 {
		@include display-flex(flex-start, center);
		gap: 1.2rem;

		img {
			width: 1.5rem;
		}
	}

	section {
		@include display-flex(flex-start, flex-start, column);
		gap: 1.2rem;
		padding-bottom: 1.2rem;
		width: 100%;

		h1 {
			@include display-flex(space-between, center);
			width: 100%;

			font-size: 0.9rem;
			color: $dark-purple;
			cursor: pointer;

			&:hover {
				color: $grayish-purple;
			}

			img {
				width: 1.6rem;
			}
		}

		p {
			font-size: 0.8rem;
			color: $grayish-purple;
			line-height: 1.2rem;
		}

		&:not(:last-child) {
			border-bottom: 1px solid $light-pink;
		}
	}

	@media (min-width: $desktop) {
		max-width: 30rem;
		gap: 1.5rem;
		padding: 1.5rem 2rem;

		h1 {
			font-size: 3rem;

			img {
				width: 2rem;
			}
		}

		section {
			h1 {
				font-size: 1rem;
			}
		}
	}
}
